/* 
Primary color: #ead1b4
Secondary color: #efdbc0
Tertiary color: #ad1112
 */

body{
  background-color: #ead1b4;
}

.freshHeading {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #efdbc0;
  font-family: 'Koulen', cursive;
  font-size: 8em;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: 'Koulen', cursive;
  font-size: 1.1em;
  color: #efdbc0;
}
a:link{
  text-decoration: none;
}
a:visited {
  color: #efdbc0;
}

.cookieContainer, .editContainer{
  display: flex;
  justify-content: center;
}

.cookie {
  display: flex;
  justify-content: center;
  position: relative;
  height: 7em;
  margin: 0;
}

.cookieHalf {
  position: absolute;
  width: 4em;
	height: 4em;
  background: #ad1112;
  animation: arrival 0.3s linear
}

@keyframes arrival {
  from {
		transform: scale(0);
	}
	75% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

.L {
  clip-path: polygon(45% 16%, 40% 54%, 82% 100%, 18% 100%, 0 54%);
  -webkit-clip-path: polygon(45% 16%, 40% 54%, 82% 100%, 18% 100%, 0 54%);
}

.R {
  clip-path: polygon(55% 16%, 60% 54%, 18% 100%, 82% 100%, 100% 54%);
  -webkit-clip-path: polygon(55% 16%, 60% 54%, 18% 100%, 82% 100%, 100% 54%);
}

.openCookieLeft {
  animation: openLeft 0.7s ease-in forwards;
}

@keyframes openLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-14em) rotate(-10deg);
	}
}

.openCookieRight {
  animation: openRight 0.7s ease-in forwards;
}

@keyframes openRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(14em) rotate(10deg);
	}
}

.fortuneText {
  overflow: hidden;
  white-space: nowrap;
  color: #ad1112;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  text-align: center;
  animation: revealText 0.7s ease-in forwards;
}

@keyframes revealText {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.hiddenText {
  display: none;
}

/* 
make button and cookie divs centered -- done!
gradient effect in buttons? experiment with color or bg
open on click and transform to either side of .fortuneText
Maybe loading effect? require several clicks? Have it effect the heading? red underline to make legible and emphasis theme?
 */
