/* 
Primary color: #ead1b4 / rgb(173, 17, 18)
Secondary color: #ad1112
 */

body{
  background-color: #ead1b4;
}

.cookieContainer, .buttonContainer, h1{
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  color: #efdbc0;
  text-shadow: 2px 8px 9px #dacbb8;
  font-family: 'Koulen', cursive;
  font-size: 8em;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: 'Koulen', cursive;
  font-size: 1.1em;
}

.mainButton {
  width: 65px;
  color: #dacbb8;
  background-color: #efdbc0;
  border-radius: 2px;
  box-shadow: 10px 15px 40px #dacbb8;
  position: fixed;
  bottom: 5vh;
}

.mainButton:hover {
  background-color: rgba(173, 17, 18, 0.1);
  color:#ad1112
}

a {
  color: inherit;
  text-decoration: inherit;
}

.cookie {
  display: flex;
  justify-content: center;
  position: relative;
  height: 7em;
  margin: 0;
}

.cookieHalf {
  position: absolute;
  width: 4em;
	height: 4em;
  background: #ad1112;
  animation: arrival 0.3s linear
}

@keyframes arrival {
  from {
		transform: scale(0);
	}
	75% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

.L {
  clip-path: polygon(45% 16%, 40% 54%, 82% 100%, 18% 100%, 0 54%);
  -webkit-clip-path: polygon(45% 16%, 40% 54%, 82% 100%, 18% 100%, 0 54%);
}

.R {
  clip-path: polygon(55% 16%, 60% 54%, 18% 100%, 82% 100%, 100% 54%);
  -webkit-clip-path: polygon(55% 16%, 60% 54%, 18% 100%, 82% 100%, 100% 54%);
}

.openCookieLeft {
  animation: openLeft 0.7s ease-in forwards;
}

@keyframes openLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-14em) rotate(-10deg);
	}
}

.openCookieRight {
  animation: openRight 0.7s ease-in forwards;
}

@keyframes openRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(14em) rotate(10deg);
	}
}

.fortuneText {
  overflow: hidden;
  white-space: nowrap;
  color: #ad1112;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  text-align: center;
  animation: revealText 0.7s ease-in forwards;
}

@keyframes revealText {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.hiddenText {
  display: none;
}

.editContainer {
  width: 32.5vw;
  height: 80vh;
  margin: auto;
  color: #ad1112;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  border: 2px solid #ad1112;
}

.fortuneList {
  margin: 0 10px 30px 0;
  padding: 0;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style-type: square;
}

.addFortune {
  display: flex;
  justify-content: center;
}

.createSpan {
  padding: 2px 2px 2px 35px;
  margin: 2px;
}

input {
  width: 25vw;
  height: 3vh;
  border: 2px solid #ad1112;
  border-radius: 2px;
  background-color: rgba(173, 17, 18, 0.1);
  padding: 2px 2px 2px 0;
  margin: 2px;
}

.onClickButton {
  color:#ad1112;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #efdbc0;
  box-shadow: inset 0 0 5px #dacbb8; 
}
 
::-webkit-scrollbar-thumb {
  background: #dacbb8;
}

/* 
Maybe loading effect? require several clicks? Have it effect the heading? red underline to make legible and emphasis theme?
 */
